<div class="popup" id="popup_container">
    <div class="popup_window">
        <div class="popup_title_container">
            <h3 class="popup_title" id="popup-title">Здесь будут найденные парковки</h3>
            <img class="popup_image" id="popup-cancel-button" src="../../resources/images/icons8-cross-24.svg"
                alt="SVG Icon">
        </div>
        <div class="parkings_container" id="parkings-container"></div>
    </div>
</div>