<nav class="navbar">
    <div class="navbar_logo">
        <img class="navbar_parktronic_icon" id="navbar-parktronic-icon" src="../../resources/images/parktronic-logo.png">
        <a id="navbar-logo-label">
            Parktronic
        </a>
    </div>
    <div class="navbar_profile" id="navbar-profile">
        <div class="navbar_button-container">
            <button class="secondary-button" id="navbar-login-button">Войти</button>
            <button class="secondary-button" id="navbar-signup-button">Регистрация</button>
        </div>
    </div>
</nav>