{{#if message}}
    <p class="message_text">{{message}}</p>
    <img class="message_close-button" id="message_close-button" src="../../resources/images/icons8-cross-24.svg"
    alt="SVG Icon">
{{/if}}
