@import './components/Buttons/buttons';
@import './components/Navbar/navbar';
@import './components/SideBarMenu/side_bar_menu';
@import './components/pages/Main/main';
@import './components/pages/ParkingLots/parkings_lots';
@import './components/pages/Login/login';
@import './components/pages/Signup/signup';
@import './components/Message/message';
@import "./components/ProfileMenu/profile_menu";
@import "./components/Search/search";
@import "./components/ParkingLotInfo/parking_lot_info";

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    background-color: #F1F1F1;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

p,
h3 {
    overflow: hidden;
    text-overflow: ellipsis;
}

#navbar {
    width: 100%;
    top: 0;
    z-index: 100;
}

#popup {
    position: fixed;
    z-index: 300;
}

#message-box {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 150;
}

@media screen and (max-width: 480px) {
    #message-box {
        bottom: 145px;
    }
}

@media screen and (min-width: 481px) {
    #message-box {
        top: 10px;
    }
}

#footer {
    position: relative;
    height: 48px;
    top: 80px;
    z-index: -1;
}