<div class="index">
    <h3>Добро пожаловать на Parktronic!</h3>
    <div class="index_content-container">
        <div class="index_content-container_description">
            Проект "Parktronic" - это умный сервис для поиска свободных парковочных мест.<br>
            Для начала использования войдите в аккаунт или создайте его.
            <div class="button-container">
                <button class="secondary-button" id="index-forms-button">Опробовать Parktronic</button>
            </div>
            <a>Нет аккаунта?  <span id="index-signup-button">Зарегистрируйтесь бесплатно</span></a>
        </div>
        <img class="index_content-container_description__picture" src="../../../resources/images/computer_preview.png" alt="">
    </div>
</div>