#map {
    max-height: 0px;
}

.index {
    margin: 60px auto;
    h3 {
        text-align: center;
        font-size: 36px;
        margin-bottom: 40px;
    }
}

.index_content-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    .index_content-container_description__picture {
        object-fit: cover;
    }
}

.index_content-container_description {
    font-size: 24px;
    text-align: left;
    max-width: 440px;
    .button-container {
        margin: 60px 0 25px 0;
        button {
            font-size: 18px;
            width: 300px;
            padding: 15px 12px;
        }
    }
    a {
        font-size: 20px;
        color: #424242;
        span {
            height: 24px;
            color: #6e51a4;
            cursor: pointer;
        }
    }
}

@media (min-width: 1000px) {
    .index_content-container_description__picture {
        height: 398px;
    }
}

@media (max-width: 1000px) {
    .index_content-container {
        flex-wrap: wrap;
        max-height: none;
    }
    .index_content-container_description__picture {
        width: 450px;
        height: auto;
        object-position: top;
        margin-bottom: 40px;
    }
    .index_content-container_description {
        margin: 0 50px 25px 50px;
        max-width: none;
        text-align: center;
        align-items: center;
        button {
            margin: 0 auto;
            width: 400px;
        }
    }
}

@media screen and (max-width: 768px) {
    .index {
        margin-top: 60px;
        h3 {
            font-size: 32px;
            margin: 0 40px 30px 40px;
        }
    }
    .index_content-container_description {
        margin: 0 40px 20px 40px;
        font-size: 20px;
        .button-container {
            margin: 40px 0 20px 0;
            button {
                font-size: 16px;
                padding: 20px 12px;
                width: 300px;
            }
        }
        a {
            font-size: 18px;
        }
    }
    .index_content-container_description__picture {
        width: 370px;
        height: auto;
        object-position: top;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 480px) {
    .index {
        margin-top: 40px;
        h3 {
            margin: 30px 15px 20px 15px;
        }
    }
    .index_content-container_description {
        .button-container {
            margin: 32px 0 16px 0;
            button {
                padding: 10px;
                width: 250px;
            }
        }
    }
    .index_content-container_description__picture {
        width: 330px;
        height: auto;
        object-position: top;
        margin-bottom: 40px;
    }
}