<div class="form-author-menu form-author-menu__open">
    <div class="search-form">
        <input type="text" id="search-input" placeholder="Введите адрес">
        <span class="search-icon material-symbols-outlined" id="search-icon-button">search</span>
    </div>
    <div class="search_result" id="search_result"></div>
    <button class="secondary-button" id="author-menu-check-button">
        <label>Мои парковки</label>
    </button>
    <div class="user-parkings-container" id="user-park-container"></div>
    <span id="author-menu-close-button" class="material-symbols-outlined">menu_open</span>
</div>
