<div class="form-author-menu form-author-menu__open">
    <div class="side-bar_up__container">
        {{#if user}}
        <a class="side-bar_profile__name" id="side-bar_profile__name">{{user.name}}</a>
        {{/if}}
        <span id="author-menu-close-button" class="material-symbols-outlined">menu_open</span>
    </div>
    <div id="search-form__container"></div>
    <div id="popup"></div>
    <div class="search_result" id="search_result"></div>
    <h1 class="favourites_header">Мои парковки</h1>
    <div class="user-parkings-container" id="user-park-container"></div>
</div>