<div class="search-form" id="search-form">
    <input type="text" class="search-form_input" id="search-input" placeholder="Введите адрес парковки">
    <img class="search-form_icon" id="search-form-icon" src="../../resources/images/icons8-search.svg">
</div>
<div class="search-popup" id="search-popup">
    <div class="search-popup_container" id="popup_container">
        <div class="search-popup_title_container">
            <h3 class="search-popup_title" id="popup-title">Здесь будут найденные парковки</h3>
            <img class="search-popup_image" id="popup-cancel-button" src="../../resources/images/icons8-cross-24.svg"
                alt="SVG Icon">
        </div>
        <div class="search-parkings_container" id="parkings-container"></div>
    </div>
</div>