<div class="search-form" id="search-form">
    <input type="text" class="search-form_input" id="search-input" placeholder="Введите адрес парковки">
    <img class="search-form_icon" id="search-form-icon" src="../../resources/images/icons8-search.svg">
</div>